.customInput-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 50%;
    justify-content: center;
}

.customInput-container textarea {
    min-height: 200px;
    resize: none;
    background-color: #f5f0e1;
    width: 80%;
    font-size: 20px;
}
.customInput-container .input-control {
    padding: 8px;
    min-width: 40px;
}
.controls-container {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.customOutput-container {
    display: flex;
    width: 50%;
    margin: 20px;
    justify-content: center;
}

.customOutput-container textarea {
    resize: none;
    min-height: 200px;
    background-color: #a5a0a0;
    width: 80%;
    font-size: 20px;
    color: #000;
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .customOutput-container {
        flex-direction: column;
        width: 100%;
    }
    .customOutput-container textarea {
        width: 100%;
        font-size: 14px;
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 12px;
    }

    .customInput-container {
        flex-direction: column;
        width: 100%;
    }

    .controls-container {
        align-items: center;
        justify-self: center;
        margin-top: 8px;
    }

    .customInput-container textarea {
        width: 100%;
        font-size: 14px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    .customOutput-container {
        flex-direction: column;
        width: 95%;
    }
    .customOutput-container textarea {
        width: 100%;
        font-size: 16px;
    }
    .buttons-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 12px;
    }

    .customInput-container {
        flex-direction: column;
        width: 95%;
    }

    .controls-container {
        align-items: center;
        justify-content: center;
        margin-top: 8px;
    }

    .customInput-container textarea {
        width: 100%;
        font-size: 16px;
    }
}
