$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(255, 255, 255, 0.3);

$option: #1e3d59;

select {
    margin-top: auto;
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 60%;
    height: 3em;
    padding: 0 4em 0 1em;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, $glass-icon 3em, $glass 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    option {
        color: inherit;
        background-color: $option;
    }
    &:focus {
        outline: none;
    }
    &::-ms-expand {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .select {
        margin-left: 8px;
    }
}
