.io-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    min-width: fit-content;
}

@media screen and (max-width: 1200px) {
    .io-container {
        flex-direction: column;
    }
}
